{% include base_path %}

<div class="masthead">
  {% if site.site_theme == "aegean" %}
  <div class="gold-bar" aria-hidden="true"></div>
  {% endif %}
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg">
            <a href="{{ base_path }}/" class="site-mark">
              {% if site.site_theme == "aegean" %}
                <span class="site-mark-el">ΟΔΥΣΣΕΥΣ</span>
                <span class="site-mark-en">Odyssefs</span>
              {% else %}
                {{ site.title }}
              {% endif %}
            </a>
          </li>
          {% for link in site.data.navigation.main %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
              {% else %}
              {% assign domain = base_path %}
            {% endif %}
            <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>